
 body{
  width: 80%;
 }
 
 
 
.btn{
  border: none;
  padding: 5px 32px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  background-color: #000;
  margin-bottom: 50px;
  cursor: pointer;
  //transition: transform 0.5s ease-in-out;
  //transition: all 2s;
}





.cevre{
  width: 150px;
  height: 150px;
  background: none;
  border: 5px solid #999;
  border-radius: 50%;

  .yarimcevre{
    width: 150px;
    height: 150px;
    border-bottom: 5px solid black;
    background: none;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;

  }
}
.btn{
  border: none;
  padding: 5px 32px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  background-color: #000;
  margin-bottom: 50px;
  margin-top: 30px;
  //transition: transform 0.5s ease-in-out;
  //transition: all 2s;
}


 